<div>
    <div class="section" [ngClass]="{ 'gray': passwordStrength === 'gray', 'red': passwordStrength === 'red', 'yellow': passwordStrength === 'yellow', 'green': passwordStrength === 'green' }"></div>
    <div class="section" [ngClass]="{ 'gray': passwordStrength === 'gray', 'red': passwordStrength === 'red', 'yellow': passwordStrength === 'yellow', 'green': passwordStrength === 'green' }"></div>
    <div class="section" [ngClass]="{ 'gray': passwordStrength === 'gray', 'red': passwordStrength === 'red', 'yellow': passwordStrength === 'yellow', 'green': passwordStrength === 'green' }"></div>
  </div>
  
